{% extends 'patient/_header.html' %} 
{% block head %} <title>Change My Password</title> {% endblock %}
{% block links %}
<ul class="nav navbar-nav">				
    <li><a href="{{url_for('patient_home', username=current_user.userID)}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li class="active"><a href="{{url_for('patient_profile', username=current_user.userID)}}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
    <li><a href="{{url_for('patient_appointments', username=current_user.userID)}}"><span class="glyphicon glyphicon-list"></span> Appointments</a></li>
    <li><a href="{{url_for('patient_search_centre', username=current_user.userID)}}"><span class="glyphicon glyphicon-search"></span> Search</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </ul>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="col-sm-3">
        <h1 class="my-4">{{current_user.name}} {{current_user.surname}}</h1>
      </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="col-sm-3">
      <br>
      <div class="list-group ">
          <a href="{{url_for('patient_profile', username=current_user.name)}}" class="list-group-item list-group-item-action">Personal Info</a>
          <a href="{{url_for('patient_info', username=current_user.name)}}" class="list-group-item list-group-item-action">Edit Personal Info</a>
          <a href="{{url_for('patient_password', username=current_user.name)}}" class="list-group-item list-group-item-action active">Change Password</a>
      </div> 
    </div>
    <div class="col-sm-9">
      <form method="POST" role="form">
          <div class="form-group col-sm-4">
            <label for="name" class="col-4 col-form-label"><h4><b>Password</b></h4></label>
            {% if message == 'Incorrect password!' %}
              <label for="name" class="col-4 col-form-label"> {{message}}</label> 
            {% endif %}
            <div class="col-8">
                <input name="pass" placeholder="Enter Password" class="form-control here" type="password">
            </div>
            <br>
            <label for="name" class="col-4 col-form-label"><h4><b>New Password</b></h4></label> 
            {% if message == 'Please enter new password!' or message == 'Passwords did not match!' %}
              <label for="name" class="col-4 col-form-label"> {{message}}</label> 
            {% endif %}
            <div class="col-8">
              <input name="new_pass_1" placeholder="New Password" class="form-control here" type="password">
            </div>
            <br>
            <label for="name" class="col-4 col-form-label"><h4><b>Confirm Password</b></h4></label> 
            <div class="col-8">
              <input name="new_pass_2" placeholder="Confirm New Password" class="form-control here" type="password">
            </div>
            {% if message == 'Password Updated!'%}
              <div>{{message}}</div>
            {% endif %}
            <br>
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">Update Password</button>
            </div>
          </div>
      </form>
    </div>
</div>

{% endblock %}
</body>

<!-- <
  </div> -->
