{% extends 'provider/_header.html' %} 
{% block head %} <title>Edit My Info</title> {% endblock %}
{% block links %}
<ul class="nav navbar-nav">				
    <li><a href="{{url_for('provider_home', username=current_user.userID)}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li class="active"><a href="{{url_for('provider_profile', username=current_user.userID)}}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
    <li><a href="{{url_for('provider_appointments', username=current_user.userID)}}"><span class="glyphicon glyphicon-list"></span> Appointments</a></li>
    <li><a href="{{url_for('provider_patients', username=current_user.userID)}}"><span class="glyphicon glyphicon-list"></span> Patients</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </ul>
{% endblock %}
{% block body %}
<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="col-sm-3">
				<h1 class="my-4">{{current_user.name}} {{current_user.surname}}</h1>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="col-sm-3">
				<br>
				<div class="list-group ">
						<a href="{{url_for('provider_profile', username=current_user.name)}}" class="list-group-item list-group-item-action">Personal Info</a>
						<a href="{{url_for('provider_info', username=current_user.name)}}" class="list-group-item list-group-item-action active">Edit Personal Info</a>
						<a href="{{url_for('provider_password', username=current_user.name)}}" class="list-group-item list-group-item-action">Change Password</a>
				</div> 
			</div>
			<div class="col-sm-9">
				<div class="row">
					<form method='POST' role='form'>
						<div class="form-group col-sm-4">
								<label for="username" class="col-4 col-form-label"><h4><b>First Name</b></h4></label> 
								<div class="col-8">
									<input name="name" placeholder="{{current_user.name}}" class="form-control here" type="text">
								</div>
								<br>
								<label for="username" class="col-4 col-form-label"><h4><b>Last Name</b></h4></label> 
								<div class="col-8">
									<input name="surname" placeholder="{{current_user.surname}}" class="form-control here" type="text">
								</div>
								<br>
								<label for="username" class="col-4 col-form-label"><h4><b>Profession</b></h4></label> 
								<div class="col-8">
									<input name="profession" placeholder="{{current_user.profession}}" class="form-control here" type="text">
								</div>
								</div>
								<div class="form-group col-sm-4">
								<label for="username" class="col-4 col-form-label"><h4><b>Phone Number</b></h4></label> 
								<div class="col-8">
									<input name="phone" placeholder="{{current_user.phone}}" class="form-control here" type="number">
								</div>
								<br>
								{% if error == "user exists" %}
									<h4>User with that email already exists!</h4>
								{% endif %}
								<label for="username" class="col-4 col-form-label"><h4><b>Email</b></h4></label> 
								<div class="col-8">
									<input name="email" placeholder="{{current_user.email}}" class="form-control here" type="email">
								</div>
								<br>
								<label for="username" class="col-4 col-form-label"><h4><b>Provider Number</b></h4></label> 
								<div class="col-8">
									<input name="providerNo" placeholder="{{current_user.providerNo}}" class="form-control here" type="number">
								</div>
								</div>
									<div class="form-group col-sm-8">
								<br>
							<button name="submit" type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
</body>


