<!DOCTYPE html>



<div class="sidesection w3-light-grey" style="margin-left:auto;margin-right:auto;max-width:230px">
    <div class="w3-container w3-dark-grey">
        <h4><a class="w3-hover-text-white">##########drop down list on right or left of UI, clickable, then changes http request to get new requested info##########</a></h4>
    </div>
    <div class="w3-container w3-left-align w3-padding-16">
        <a>Personal Information</a><br>
        <a>Appointments</a><br>
        <a>Hours</a><br>
        <a>Contact Info</a><br>
        <a>Patients info for the provider</a><br>
        <a>Provider's rating</a><br>
        <a>Past visits</a><br>
        <a>Working Hours</a><br>
        <a>Bookings / Confirmations</a><br>
        <a>Contact Info</a><br>
    </div>
</div>



